@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

#article-body {
  height: 350px;
}

#post-rendered-article {
  background-color:#FFF;
  color: #000;
  height: 400px;
  border: 3px solid grey;
  width: 100%px;
  aspect-ratio: 1;
  overflow-y: scroll;
}

#post-rendered-article p {
  color: #000;
}

#post-rendered-article li {
  color: #000;
}

#post-rendered-article h2 {
  color: #000;
}

#post-rendered-article a {
  color: #bb6825;
}
