@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.episode-post h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #9e5302;
}

.episode-post h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #9e5302;
}
.episode-post p {
    margin-top:20px;
}
.episode-post ul {
    margin-top:20px;
    margin-bottom:20px;
}
.episode-post li {
    padding-left:20px;
}
.episode-post a {
    color: rgb(113, 58, 0);
    text-decoration: underline;
}

.episode-post img {
    max-width: 500px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .episode-post img {
        max-width: 90%;
    }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
    .episode-post img {
        max-width: 90%;
    }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .episode-post img {
        max-width: 90%;
    }
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.photocaption p {
    margin-top: 10px;
    font-size: 12px;
}

.photocaptionlg p {
    margin-top: 10px;
    font-size: 14px;
}

.shownotes {
    color: #e2922f;
    text-decoration: underline;
}

.signupconfirm h2 {
    font-size: 20px;
    color:#f3f4ab
}

.contactusconfirm h2 {
    font-size: 20px;
    color:#d37400;
    margin-bottom: 20px;
}
